<nav class="navbar navbar-expand-lg  navbar-custom">
  <div class="container">
    <a class="navbar-brand navbar-custom-brand" [routerLink]="['']" routerLinkActive="router-link-active" >Manage <strong>Employees</strong></a>
    <form class="d-flex">
      <button class="btn btn-primary mr-2 color-red" type="submit" (click)="deleteEmployees()"  ><span><i class="fa fa-minus-circle" aria-hidden="true"></i>
      </span> Delete</button>
      <a class="btn btn-primary color-green" [routerLink]="['/addemployee']"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Employee</a>
    </form>
  </div>
</nav>


